html{
    font-size: 10px;
}

body{
    background-color: #f0f0f0;
    font-size: 15px;
    font-family: Helvetica;
	overflow: auto;
}

#graph{
	overflow: auto;
	width: 4000px;
}

.div_node{
    position: absolute;
    background-color: white;
    border: solid;
	border-color: black;
    display: block;
    padding: 10px;
    box-sizing: border-box;
}


svg{
    overflow: auto;
}


/*Style for rightclickmenu*/

#main-rightclick{
    width:100px;
    background-color: #ececec;
    box-sizing: border-box;
    border: black 1px solid;
    border-bottom: 0px;
    margin:0;
    font-family: Helvetica;

}
.menuelement{
    height: 30px;
    border-bottom: black 1px solid;
    padding: 5px;
    font-size: 15px;
    box-sizing: border-box;
}
.menuelement:hover{
    cursor: pointer;
    background-color: #d3d3d3;
    font-weight: bold;
}
.color{
    float: right;
    width: 20px;
    height: 20px;
    border: solid;
    box-sizing: border-box;
    border-width: 1px;
    border-radius: 5px;
}

.methodButton{
	background-color: rgba(255,255,255,0.8);
	overflow: auto;
	border: solid;
	box-sizing: border-box;
}

.methodButton:hover{
    cursor: pointer;
}

.methodButton:active{
    background-color: #f0f0f0;
}

circle {
	visibility: hidden; /* visible or hidden */
}

line {
	visibility: hidden; /* visible or hidden */
}