html{
    font-size: 10px;
}

body{
    background-color: lightgray;
    font-size: 15px;
    margin: 0;
}

div{position: relative;


}
.div_node{
    position: absolute;
    background-color: white;
    border: 5px black solid;
    display:block;
	padding: 10px;
	box-sizing: border-box;
}


svg{
    width: 1200px;
    height: 1000px;
}