html{
    font-size: 10px;
}

body{
    background-color: #f0f0f0;
    font-size: 15px;
    margin: 0;
    font-family: Helvetica;
}

.invis{
	display: none
}

#graph{
    position: relative;
    font-family: Helvetica;
}

.div_node{
    position: absolute;
    background-color: white;
    border: solid;
	border-color: black;
    display: block;
    box-sizing: border-box;
}

.nameHeadline{
    text-align: center;
    margin: 10px 0px 10px 0px;
}

.nodeHeadline{
    margin: 5px 0px 5px 0px;
}


svg{
    /* width: 2000px; */
    /* height: 2000px; */
}

#search {
    float: left;
    height: 45px;
    border-radius: 15px;
    background-color: #fff4e1;
    border-color: #c28e6e;
    color: #6d6c6a;
    font-size: larger;
    border-style: groove;
    border-width: 3px;
    box-sizing: border-box;
}

#search:hover{
    cursor: pointer;
}

#search:active{
	background-color: #efe5d6;
	color: black;
	outline: none;
}

/*Style for contextclickmenu*/

#contextmenuNode, #contextmenuEdge{
    z-index: 1000;
    background-color: #ececec;
    box-sizing: border-box;
    border: black 1px solid;
    border-bottom: 0px;
    margin:0;
    font-family: Helvetica;
    overflow: auto;

}
.menuelement{
    height: 30px;
    width: 250px;
    border-bottom: black 1px solid;
    padding: 5px;
    font-size: 15px;
    box-sizing: border-box;
}
.menuelement:hover{
    cursor: pointer;
    background-color: #d3d3d3;
    font-weight: bold;
}

.color{
    float: right;
    width: 20px;
    height: 20px;
    border: solid;
    box-sizing: border-box;
    border-width: 1px;
    border-radius: 5px;
}

.hotKeySpan{
    color: #919c8afc;
}

.methodButton{
	background-color: rgba(255,255,255,0.5);
	overflow: hidden;
	border: solid;
	box-sizing: border-box;
	left: auto;
	white-space: nowrap;
    text-align: left;
    min-width: 100%;
}

.methodButton:hover div{
	max-width: 100%;
}

.methodButton:hover{
    cursor: pointer;
	background-color: rgba(255,255,255,1);
	margin: auto;
    width: max-content;
}

.methodButton:active{
    background-color: #f0f0f0;
}

.nodeHeader{
    overflow: hidden;
    white-space: nowrap;
    min-width: 100%;
}

.nodeHeader:hover{
    background-color: white;
    width: max-content;
    padding-right: 15px;
}

.callSite{
	max-width: 300px; /* default 300px can be changed to adjust width of callsites when changing node width*/
	overflow: hidden;
	white-space: nowrap;
}

#dropZone{
	text-align: center;
	color: #aaa;
    height: 83vh;
	border: 2px dashed #aaa;
	border-radius: 5px;
    margin: 1%;
	padding: 3%;
}


#progress_bar{
	background-color: #ddd;
    padding: 3px;
    margin: 1%;
}

#progress{
	background-color: rgb(24, 190, 30);
	color: white;
	width: 0%;
	text-align: center;
}

* { box-sizing: border-box; }

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

#searchInput {
  border-width: 3px;
  border-style: ridge;
  border-color: #f1c5ab;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #fffefc;
  padding: 10px;
  font-size: 16px;
  width: 800px;
  transition: 0.5s;
}

.autocomplete-items {
  position: relative;
  border: 1px solid #d4d4d4;
  font-size: 13px;
  clear: both;
  z-index: 99;
  overflow: auto;
  max-height: 300px;
  /*position the autocomplete items to be the same width as the container:*/
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

ul li:hover {cursor: pointer;}

.edge{
    stroke: black;
    stroke-width: 3px;
}

.edge:hover{
    stroke-width: 15px;
}

circle {
	visibility: hidden;
    /*visibility: visible;*/
}

line {
	stroke: #d8a806;
	stroke-width: 2px;
	visibility: hidden;
    /*visibility: visible;;*/
}

#top_fixed {
    position: fixed;
    top: 10px;
    left: 10px;
}

#bottom_fixed {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255,255,255,0.9);
    padding: 10px;
}

.lastClickedNode{
    border-color: red !important;
}
.lastClickedEdge{
    stroke-width: 7px!important;
    opacity: 1 !important;
    stroke: red !important;
}

/* styles for the call site contextmenu */

#contextmenuCallSite {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 30%;
    background-color: white;
    border: solid;
    border-width: 1px;
    padding: 15px;
}

#contextmenuCallSite h3{
    margin: 0px;
}

#contextmenuCallSite h3 span{
    color: blue;
    word-break: break-word;
}

#contextmenuCallSite form{
    margin-top: 15px;
    overflow: auto;
    clear: both;
}

#contextmenuCallSite form input{
    width: 100%;
    height: 30px;
    padding: 5px;
    float: left;
}

#callSiteSelection{
    margin-top: 15px;
    height: 60%;
}

#selectedTargets{
    border: solid 1px;
    min-height: 80px;
    max-height: 100%;
    padding: 5px;
    overflow: auto;
}

#selectedTargets h3{
    text-align: center;
    margin: 10px;
}

#contextmenuSubmit{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    overflow: auto;
    padding: 15px;
}

#contextmenuSubmit button{
    position: relative;
    box-sizing: border-box;
    border: #6464c0 outset;
    font-size: 15px;
    background-color: #ededed;
}

#contextmenuSubmit button:hover{
    background-color: #e2e2e2;
}

#cmb1{
    font-size: 15px;
    width: 47%;
}

#cmb2{
    margin-left: 6%;
    margin-top: 15px;
    width: 47%;
}

#cmb3{
    margin-top: 15px;
    width: 47%;
}

#cmb4{
    margin-left: 6%;
    margin-top: 15px;
    width: 47%;
}

#cmb5{
    margin-top: 15px;
    width: 100%;
}

#selectedTargetsList div{
    word-break: break-word;
    margin-bottom: 5px;
}

.rmx{
    border: 1px solid gray;
    border-radius: 3px;
    float: left;
    padding: 0px 5px 1px 5px;
    margin: 0px 5px 0px 0px;
}

.rmx:hover {
    cursor: pointer;
}

/* ------------------------------------ */

#wholeGraphContextMenu{
    position: fixed;
    width: 20%;
    padding: 20px;
    left: 40%;
    background-color: white;
    top: 30px;
    border: 2px solid red;
    overflow: auto;
}

#wholeGraphContextMenu h2{
    margin-top: 0px;
    text-align: center;
}

#wholeGraphContextMenu button{
    float: left;
    width: 30%;
    margin: 0 10% 0 10%;
    text-align: center;
}