html{
    font-size: 10px;
}

body{
    background-color: #f0f0f0;
    font-size: 15px;
    margin: 0;
    font-family: Helvetica;
	width: 2000px;
	height: 2000px;
}

.invis{
	display: none
}

#graph{
	width: 100%;
	height: 2000px;
}

.div_node{
    position: absolute;
    background-color: white;
    border: solid;
	border-color: black;
    display: block;
    padding: 10px;
    box-sizing: border-box;
}


svg{
    width: 2000px;
    height: 2000px;
}


/*Style for rightclickmenu*/

#main-rightclick{
    width:100px;
    background-color: #ececec;
    box-sizing: border-box;
    border: black 1px solid;
    border-bottom: 0px;
    margin:0;
    font-family: Helvetica;

}
.menuelement{
    height: 30px;
    border-bottom: black 1px solid;
    padding: 5px;
    font-size: 15px;
    box-sizing: border-box;
}
.menuelement:hover{
    cursor: pointer;
    background-color: #d3d3d3;
    font-weight: bold;
}
.color{
    float: right;
    width: 20px;
    height: 20px;
    border: solid;
    box-sizing: border-box;
    border-width: 1px;
    border-radius: 5px;
}

.methodButton{
	background-color: rgba(255,255,255,0.8);
	overflow: auto;
	border: solid;
	box-sizing: border-box;
}

.methodButton:hover{
    cursor: pointer;
}

.methodButton:active{
    background-color: #f0f0f0;
}

#dropZone{
	text-align: center;
	color: #aaa;
	border: 2px dashed #aaa;
	border-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;

	padding: 25px;
	padding-top: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
}

#progress_bar{
	background-color: #ddd;
	padding: 3px;
}

#progress{
	background-color: rgb(24, 190, 30);
	color: white;
	width: 0%;
	text-align: center;
}

* { box-sizing: border-box; }

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

input[type=text] {
  border: 1px solid transparent;
  background-color: #c0c0c0;
  padding: 10px;
  font-size: 16px;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

circle {
	visibility: visible; /* visible or hidden */
}

line {
	stroke: #d8a806;
	stroke-width: 5px;
	visibility: visible; /* visible or hidden */
}